{% load static %}
<div class="container text-center pt-5">
    <h3 class="join-community">Become a contributor <a href="/register/" class="now">now</a></h3>
    <div class="join-icons">
        <div class="icons share">
            <img src="{% static 'img/home/share.png' %}" class="icon-share">
            <p class="icon-text">Share</p>
        </div>
        <div class="icons save">
            <img src="{% static 'img/home/save.png' %}" class="icon-save">
            <p class="icon-text">Save</p>
        </div>
        <div class="icons help">
            <img src="{% static 'img/home/help.png' %}" class="icon-help">
            <p class="icon-text">Help</p>
        </div>
    </div>
</div>