{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MusiFetch | Search</title>
    <link rel="stylesheet" href="{% static 'bs/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bs/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home/navs.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home/find.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home/aos.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'img/favicon.png'%}">

</head>
<body class="full-page">
    <div class="container-fluid high-page">
        {% if request.user.is_authenticated %}
            {% include 'home/navs/logged.html' %}
        {% else %}
            {% include 'home/navs/visitor.html' %}
        {% endif %}
        <form class="search-bar" action="/find/" method="post">
            {% csrf_token %}
            <input id="video_link" name="video_link" class="input-search col-12 col-md-8 col-sm-6" type="text" placeholder="Insert a new link here">
            <button type="submit" class="loupe"><img src="{% static 'img/home/loupe.png' %}" class="loupe-img"></button>
        </form>
    </div>
    <div class="low-container">
        <h2 class="subtitle">Our application found some musics for you!</h2>
        <div class="results">
            <hr>
            {% for key,value in occurences.items %}
                <div  data-aos="fade-up">
                    <h3>TITRE</h3>
                    <span class="result-set">{{ value.titre }}</span>
                    <br>
                    <iframe id="ytplayer" type="text/html" width="360" height="202"
                        src="https://www.youtube.com/embed/{{ value.idvideo }}"
                        frameborder="0" allowfullscreen></iframe>
                    <br>
                    <h4>POURCENTAGE DE PRÉSENCE</h4>
                    <span class="result-set">{{ value.count }} %</span>
                    <h4>POURCENTAGE DE LA VIDEO ORIGINALE</h4>
                    <span class="result-set">{{ value.countIdMusic }} %</span>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'js/home/aos.js' %}"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>