{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MusiFetch | Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home/register-login.css' %}">
    <link rel="stylesheet" href="{% static 'bs/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bs/css/bootstrap.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'img/favicon.png'%}">
</head>
<body class="full-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-7 musifetch">
                <div class="container text-center pt-5">
                    <h1 class="title"><a href="/home/">MusiFetch</a></h1>
                    <h2 class="subtitle">The tool you ever looked for</h2>
                </div>
            </div>
            <div class="col-sm-5 form">
                <div class="container text-center pt-5">
                    <form action="/login/" method="POST">
                        {% csrf_token %}
                        <input id="login" name="login" class="input" type="text" placeholder="Username">
                        <input id="password" name="password" class="input" type="password" placeholder="Password">
                        <button type="submit" class="valid-login">Login</button>
                    </form>
                    {% if error %}
                        <div class="error pt-3">
                            {{ error }}
                        </div>
                    {% endif %}
                    <div class="options pt-2">
                        <a href="/register/">Don't have an account ?</a><br>
                        <a href="#">Forgot your password ?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>