{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MusiFetch | Register</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home/register-login.css' %}">
    <link rel="stylesheet" href="{% static 'bs/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bs/css/bootstrap.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'img/favicon.png'%}">
</head>
<body class="full-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-7 musifetch">
                <div class="container text-center pt-5">
                    <h1 class="title"><a href="/home/">MusiFetch</a></h1>
                    <h2 class="subtitle">The tool you ever looked for</h2>
                </div>
                <div>
                    {{ email_error }}
                    {{ username_error }}
                    {{ password_error }}
                    {{ confirm_password_error }}
                </div>
            </div>
            <div class="col-sm-5 form">
                <div class="container text-center pt-5">
                    <form action="/register/" method="POST">
                        {% csrf_token %}
                        <input id="email" name="email" class="input" type="text" value="{{ keep_email }}"placeholder="Email">
                        <input id="username" name="username" class="input" type="text" value="{{ keep_username }}" placeholder="Username">
                        <input id="password" name="password" class="input" type="password" placeholder="Password">
                        <input id="confirm_password" name="confirm_password" class="input" type="password" placeholder="Confirm password">
                        <button type="submit" class="valid-registration">Register</button>
                    </form>
                    <div class="options pt-2">
                        <a href="/login/">Already have an account ?</a><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>