@import url("style_base.css");

hr {
	width: 500px;
}

.full-page {
	background-color: var(--color-pink1);
}

.high-page {
    background-color: var(--color-pink2);
	box-shadow: 0 1.5px 1.5px 0 #927b7f;
    height: 290px;
}

.search-bar {
	margin-top: 50px;
	text-align: center;
}

.input-search {
	padding-left: 40px;
	width: 750px;
	height: 60px;
	font-size: 20px;
	border-width: 2px;
	border-color: var(--color-purple-bt);
	background-color: white;
	color: var(--color-purple-text);
	border-style: solid;
	border-radius: 50px;
	box-shadow: 0 1.5px 1.5px 0 #927b7f;
}

.input-search:focus {
	outline: none;
}

.subtitle {
	color: var(--color-purple-text);
	font-weight: normal;
	font-size: 28px;
	text-align: center;
	margin: 50px;
}

.results {
	text-align: center;
}

h3{
	color: black;
	font-weight: bold;
	font-size: 30px;
	margin: 15px;
}

h4{
	color: black;
	font-weight: bold;
	font-size: 20px;
	margin: 15px;
}

.result-set {
	color: var(--color-purple-text);
	font-size: 20px;
}

.loupe {
	border: none;
	background: none;
}

.loupe-img {
	width: 60px;
	height: 60px;
}

.loupe:focus {
	outline: none;
}