:root {
	--color-pink1: #ebd6da; /* ROSE CLAIR */
    --color-pink2: #bd7783; /* ROSE */
    --color-purple-bt: #805280; /* VIOLET BOUTONS */
    --color-purple-text: #72445a; /* VIOLET TEXTE */
}

* {
    font-family: 'Rubik', sans-serif;
}

.global-container {
	height: 100%;
}